/* font sizes */
.bigger { font-size: 250% }
.big { font-size: 200% }
.big1 { font-size: 165% }
.larger { font-size: 140% }
.large { font-size: 120% }
.little { font-size: 90%;}
.small { font-size: 70% }
.smaller { font-size: 50% }
.tiny { font-size: 30% }

/* font colors */
.red { color: red }
.blue { color: blue }
.green { color: green }
.orange { color: orange }
.purple { color: purple }
.blue2 { color: #00c6ed }

/* bold */
.bold { font-weight: bold }

/* column layout */
.pull-left-large {
  float: left;
  width: 67%;
}

.pull-left-73 {
  float: left;
  width: 73%;
}

.pull-right-small {
  float: right;
  width: 27%;
}

.pull-right-33 {
  float: right;
  width: 33%;
}

.pull-right-42 {
  float: right;
  width: 42%;
}

.center2 {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 0;
}

.just {
  text-align:justify;
}
