div.my-footer {
    background-color: #2626a8;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #F7F8FA;
    position: absolute;
    right: 3px;
    bottom: 5px;
    top: 5px;
}

.remark-slide-number {
  font-size: 14pt;
  margin-bottom: -5px;
  margin-right: 820px;
  color: #FFFFFF; /* white */
  opacity: 1; /* default: 0.5 */
}

.title-slide .remark-slide-number {
  display: none;
}

.inverse {
  background-color: #FFFFFF;
  color: #d6d6d6;
  font-size: 1.5em; /* added because the title's fonts were too small...probably has to do with remarkjs library*/
}

.inverse h1, .inverse h2, .inverse h3 {
  text-shadow: none;
  color: #000000; /* black */
}

.title-slide {
  background-image: url("../img/ntnu/title-ntnu-2.png");
  background-size: initial;
}
